## Extract Process Description
    Source Data was identified from a kaggle.com instance called: "Malnutrition across the globe". The data sources
    were organized into 2 distinct grains: Summary Data (a table of averages) and Detail Data (a table of estimates). 
    The data is reflective of child malnutrition measures (children under 5 years old) from 152 countries across 2 
    "causing" reasons:
        
        1) Wasting (Summary and Detail)
        2) Severe Wasting (Summary and Detail)
    
    Additionally, measures were provided for 3 "resulting" outcomes of child malnutrition:
        1) Being Overweight (Summary and Detail)
        2) Being Underweight (Summary and Detail)
        3) Being Stunted (Summary and Detail)
    
    The source data was accessed by way of pandas (pd) reads of excel csv files.

## Transformation Process Description
     The Transformation Process was performed against the detail (estimates) data and involved the removal of 
     5 unneccessary fields and the creation and utilization of 2 fact tables that enabled the description of 
     "multi-value" code columns to be added to the detail table.
        
     The source fields that were dropped from the detail (estimates) file were:
         1) 'Notes'
         2) 'Source'
         3) 'Short_Source'
         4) 'Survey_Year'
         5) 'Survey_Sample'
        
     The fact tables that were created in support of this effort were:
         1) Developing Countries Fact: This table defined the developing country types and a description of each type.
         2) Income Classification Fact: This table defined income classification codes and an accompanying description 
            for each code.
         3) The values (types and codes) and their respective descriptions from the fact tables were merged into the 
            detail (estimates) table enabling a more complete reference capability.
         
     Four columns were renamed from abbreviated acronyms to meaningful column names:
         1) Population Under 5 years old.
         2) Least Developed Countries.
         3) Low Income Food Deficient.
         4) Developing Country Status.      
        
## Load Process Description
      1) A 2 table database was defined in PostgreSQL called Global_Malnutrition.
      2) The 2 tables in the database are: Malnutrition_Averages (Summary Table) and Malnutrition_Estimates (Detail Table).
      3) A connection to the database was defined using the SQLalchemy "create_engine" function.
      4) Both tables were loaded from their corresponding pandas dataframes using the pandas "to_sql" load function.
      5) Verification of the load process involved performing record count queries of each loaded table and ensuring that
         the counts matched those of the input files.
         
#### Issues Encountered: 
When attempting to perform a cross table join query (using aliases) based on a common key between both tables ("Country"),
SQLalchemy returned an error indicating that it could not resolve the aliases being used to distinguish the columns from the 
2 tables. Efforts at resolving this were not successful and research indicated that this was a SQLachemy version issue.

In [ ]:
# pip install sqlalchemy

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\phass\anaconda3\lib\site-packages (2.8.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Import the required Python modules
import numpy as np
import pandas as pd
import datetime
from sqlalchemy import create_engine

# STEP 1: EXTRACT

In [2]:
# DATASOURCE 1: Extract all records from datasets_673762_1185224_country-wise-average.csv - source kaggle.com
countrywise_avg_file = "Resources/datasets_673762_1185224_country-wise-average.csv"
df_countrywise_avg = pd.read_csv(countrywise_avg_file)

print("Total records ", df_countrywise_avg['Country'].count())
df_countrywise_avg.head()

Total records  152

,Country,Income_Classification,Severe_Wasting,Wasting,Overweight,Stunting,Underweight,U5_Population_('000s)
0,AFGHANISTAN,0,3.033333,10.350000,5.125000,47.775000,30.375000,4918.561500
1,ALBANIA,2,4.075000,7.760000,20.800000,24.160000,7.700000,232.859800
2,ALGERIA,2,2.733333,5.942857,12.833333,19.571429,7.342857,3565.213143
3,ANGOLA,1,2.400000,6.933333,2.550000,42.633333,23.600000,3980.054000
4,ARGENTINA,2,0.200000,2.150000,11.125000,10.025000,2.600000,3613.651750

In [3]:
# DATASOURCE 2: Extract all records from datasets_673762_1185224_malnutrition-estimates.csv - source kaggle.com

malnutrition_est_file = "Resources/datasets_673762_1185224_malnutrition-estimates.csv"
df_malnutrition_est = pd.read_csv(malnutrition_est_file)

print("Total records ", df_malnutrition_est['Country'].count())
df_malnutrition_est.head()

Total records  924

,Sequence_ID,ISO,Country,Survey_Year,Year,Income_Classification,LDC,LIFD,LLDC_or_SID2,Survey_Sample_(N),Severe_Wasting,Wasting,Overweight,Stunting,Underweight,Notes,Report_Author,Source,Short_Source,U5_Population_('000s)
0,0,AFG,AFGHANISTAN,1997,1997,0,1,1,1,"4,846",NaN,18.2,6.5,53.2,44.9,Converted estimates,CIET International,Afghanistan 1997 multiple indicator baseline (...,MICS,3838.877
1,1,AFG,AFGHANISTAN,2004,2004,0,1,1,1,946,3.5,8.6,4.6,59.3,32.9,NaN,"Ministry of Public Health (Afghanistan), UNICE...",Summary report of the national nutrition surve...,NNS,4789.353
2,2,AFG,AFGHANISTAN,2013,2013,0,1,1,1,"44,26,469",4.0,9.5,5.3,40.4,24.6,NaN,"Ministry of Public Health, UNICEF and the Aga ...",Afghanistan National Nutrition Survey 2013.,SMART,5444.573
3,3,AFG,AFGHANISTAN,2018,2018,0,1,1,1,NaN,1.6,5.1,4.1,38.2,19.1,NaN,KIT Royal Tropical Institute,Afghanistan Health Survey 2018,Other,5601.443
4,4,ALB,ALBANIA,1996-98,1997,2,0,0,0,"7,642",NaN,8.1,9.5,20.4,7.1,Converted estimates,"Institute of Public Health, Food and Nutrition...",National study on nutrition in Albania. Instit...,Other,309.225

In [4]:
# DATASOURCE 3: Extract all records from datasets_673762_1185224_developing_countries_fact.csv - source: team
dev_countries_fact_file = "Resources/datasets_673762_1185224_developing_countries_fact.csv"
df_dev_countries_fact = pd.read_csv(dev_countries_fact_file)

# DATASOURCE 4: Extract all records from datasets_673762_1185224_income_classification_fact.csv - source: team
inc_class_fact_file = "Resources/datasets_673762_1185224_income_classification_fact.csv"
df_inc_class_fact = pd.read_csv(inc_class_fact_file)

In [5]:
df_inc_class_fact

   Income_Classification_ID Income_Classification_Description
0                         0                        Low Income
1                         1               Lower Middle Income
2                         2               Upper Middle Income
3                         3                       High Income

# STEP 2: TRANSFORM

In [6]:
del df_malnutrition_est['Notes'] 
del df_malnutrition_est['Source']
del df_malnutrition_est['Short_Source']
del df_malnutrition_est['Survey_Year']
del df_malnutrition_est['Survey_Sample_(N)']

df_malnutrition_est = df_malnutrition_est.rename(columns={"U5_Population_('000s)": "Population_U5",
                                                          "LDC": "Least_Developed_Countries",
                                                          "LIFD": "Low_Income_Food_Deficient",
                                                          "LLDC_or_SID2": "Developing_Country_Status"})
                                                           

df_malnutrition_est = pd.merge(df_malnutrition_est, df_dev_countries_fact, 
                       left_on=['Developing_Country_Status'], right_on=['Developing_Country_Flag'], how='left')

df_malnutrition_est = pd.merge(df_malnutrition_est, df_inc_class_fact, 
                       left_on=['Income_Classification'], right_on=['Income_Classification_ID'], how='left')

del df_malnutrition_est['Developing_Country_Status']
del df_malnutrition_est['Income_Classification']

df_countrywise_avg = df_countrywise_avg.rename(columns={"U5_Population_('000s)": "Population_U5"})

In [7]:
df_countrywise_avg.head()

,Country,Income_Classification,Severe_Wasting,Wasting,Overweight,Stunting,Underweight,Population_U5
0,AFGHANISTAN,0,3.033333,10.350000,5.125000,47.775000,30.375000,4918.561500
1,ALBANIA,2,4.075000,7.760000,20.800000,24.160000,7.700000,232.859800
2,ALGERIA,2,2.733333,5.942857,12.833333,19.571429,7.342857,3565.213143
3,ANGOLA,1,2.400000,6.933333,2.550000,42.633333,23.600000,3980.054000
4,ARGENTINA,2,0.200000,2.150000,11.125000,10.025000,2.600000,3613.651750

In [8]:
df_malnutrition_est.head()

,Sequence_ID,ISO,Country,Year,Least_Developed_Countries,Low_Income_Food_Deficient,Severe_Wasting,Wasting,Overweight,Stunting,Underweight,Report_Author,Population_U5,Developing_Country_Flag,Developing_Country_Type,Developing_Country_Description,Income_Classification_ID,Income_Classification_Description
0,0,AFG,AFGHANISTAN,1997,1,1,NaN,18.2,6.5,53.2,44.9,CIET International,3838.877,1,LLDC,Land Locked Developing Countries,0,Low Income
1,1,AFG,AFGHANISTAN,2004,1,1,3.5,8.6,4.6,59.3,32.9,"Ministry of Public Health (Afghanistan), UNICE...",4789.353,1,LLDC,Land Locked Developing Countries,0,Low Income
2,2,AFG,AFGHANISTAN,2013,1,1,4.0,9.5,5.3,40.4,24.6,"Ministry of Public Health, UNICEF and the Aga ...",5444.573,1,LLDC,Land Locked Developing Countries,0,Low Income
3,3,AFG,AFGHANISTAN,2018,1,1,1.6,5.1,4.1,38.2,19.1,KIT Royal Tropical Institute,5601.443,1,LLDC,Land Locked Developing Countries,0,Low Income
4,4,ALB,ALBANIA,1997,0,0,NaN,8.1,9.5,20.4,7.1,"Institute of Public Health, Food and Nutrition...",309.225,0,OTH,Other,2,Upper Middle Income

# STEP 3: LOAD

In [9]:
# Create connection
connection_string = create_engine('postgresql://postgres:postgres@localhost:5432/Global_Malnutrition')
engine = create_engine(f'postgresql://{connection_string}')

In [10]:
# Load the malnutrition averages table
df_countrywise_avg.to_sql(name='malnutrition_averages', con=connection_string, if_exists='replace', index=False)

In [11]:
# Load the malnutrition estimates table
df_malnutrition_est.to_sql(name='malnutrition_estimates', con=connection_string, if_exists='replace', index=False)

In [12]:
count_averages  = pd.read_sql("select count(*) from malnutrition_averages", connection_string)
count_averages

   count
0    152

In [13]:
count_estimates  = pd.read_sql("select count(*) from malnutrition_estimates", connection_string)
count_estimates

   count
0    924

Load Process Completed without any errors. No need for any updates upstream at this point.